@media (max-width: 768px) {

    body {
        padding-top: 0 !important;
    }

    .gc-account-leftbar:not(.expanded),
    .gc-account-leftbar {
        height: 50px;
        top: 0;
        background: var(--third-color);
    }

    .gc-account-leftbar {
        position: relative;
        width: 100% !important;
        bottom: auto !important;
        z-index: 1000;
    }

    .gc-main-content.with-left-menu.account-page-content {
        margin-left: 0px !important;
        padding: 0;
    }

    .gc-page-nav-items-menu,
    .leftbar-controls {
        display: none;
    }

    .mobile {

        &-wrapper {
            width: 100%;
            min-height: auto;
            margin-left: auto;
            margin-right: 0;
            background: #f0f0f0;

            &.collapsed {
                min-height: 100vh;

                .leftbar-controls {
                    display: flex;
                }

                .custom-menu {
                    display: block;
                }
            }

            .mobile {

                &-icon {
                    display: flex;
                    background: var(--third-color);
                    border-radius: 0 0 20px 20px;
                }

                &-menu {
                    display: none;
    
                    &.custom-menu {
                        padding: 20px 10px;
                        border: 1px solid #d7d7d7;
                        border-radius: 30px;
                    }
                }
            }

            .wrapper-control {
                padding: 35px;
                border: none;
            }

            .control-item {
                font-size: 24px;
            }
        }

        &-icon svg {
            width: 18px;
            height: 18px;
        }
    }
    .menu-item-wrapper {
        flex-direction: column;
        margin: 7px 0;
        padding: 0;
        font-weight: 600;

        &:hover,
        &.active {
            background: #fff0;
        }
    }
    .custom-menu {
        display: none;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 20px 0 0 0;
        border-radius: 30px 30px 0 0;

        &-item {
            margin: 0 !important;
            padding: 0 20px;
            transition: 0.3s all ease;

            &:not(:nth-last-child(1)) {
                border-radius: 20px;
            }

            &.active {
                position: relative;
                width: 100%;
                padding-bottom: 15px;
                padding-top: 15px;
                z-index: 9999;
                background: #fff0;

                .menu-item-point {
                    color: var(--main-color);
                }

                svg {
                    fill: var(--main-color);
                }

                .menu-item-wrapper {
                    background: #fff0;
                    box-shadow: none;

                    &::after {
                        display: none;
                    }

                    &:hover {
                        background: #fff0;
                    }
                }
            }

            svg {
                width: 22px;
                height: 22px;
                margin-right: 0;
                margin-bottom: 0;
            }
        }
    }

    .custom-submenu-item {
        padding: 7px 5px;
        border-left: none;
    }

    .submenu-item-wrapper {
        width: 100%;
        display: block;
        text-align: left;
        line-height: 1.2;
    }

    .stream-table {
        margin: 0 auto !important;
    }
}
