/* Основные переменные */
$main-font: "Jost", sans-serif;

$main-color: #DB9255;
$second-color: #0F4454;
$third-color: #FFF6EF;

$text-primary: #979797;
$text-secondary: #777777;
$bg-color: #F5F5F5;
$border-color: #D7D7D7;
$hover-bg: #FFDABB;
$scrollbar-thumb: #888;
$scrollbar-track: #F1F1F1;
$alert-bg: #FFF6F6;

/* Эффекты */
$main-shadow: 0px 0px 2px 0px #A3A3A333, 0px 4px 12px 0px #A3A3A340;
$hover-shadow: 0 4px 24px #0000002B;
$fast-transition: 0.6s all ease-in-out;
$slow-transition: 0.3s all ease-in-out;
