:root {
    /* Основные переменные */
    --main-font: "Jost", sans-serif;

    --main-color: #db9255;
    --second-color: #0f4454;
    --third-color: #fff6ef;

    --text-primary: #979797;
    --text-secondary: #777777;
    --bg-color: #f4f4f4;
    --border-color: #d7d7d7;
    --hover-bg: #ffdabb;
    --scrollbar-thumb: #888;
    --scrollbar-track: #f1f1f1;
    --alert-bg: #fff6f6;

    /* Эффекты */
    --main-shadow: 0px 0px 2px 0px #a3a3a333, 0px 4px 12px 0px #a3a3a340;
    --hover-shadow: 0 4px 24px #0000002b;
    --fast-transition: 0.6s all ease-in-out;
    --slow-transition: 0.3s all ease-in-out;
}
